body {

	background-image: url('BlackWallpaper.jpg');
	
	background-size:cover;

}
.home {
	color:#c65139;
	font-family: "Arial Black", Gadget, sans-serif;
	text-shadow: 2px 3px 2px white;
	font-size: 50px;
	margin-left: 100px;
	margin-top: 20px;


}

#prev {
	
	font-size:25px;
	margin-left: 150px;
	margin-top:50px;
	display: inline-block;
	


}

#next {
	
	font-size:25px;
	margin-left:150px;
	margin-top:50px;
	display: inline-block;
	

}
#play {
	
	font-size:25px;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-left: 200px;
	margin-top:50px;
	display: inline-block;
	background-color: #c65139;
	border-radius: 5px;



}

#pause {
	
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-left: 200px;
	margin-top:50px;
	display: inline-block;
	background-color: #c65139;
	border-radius: 5px;




}

#AlbumArt img{
	
	height:150px;
	margin-right:70px;
	margin-top:75px;
	margin-left:20px;
	box-shadow: 5px 10px 15px #c65139;
	border-radius: 5px;


}







